{% extends"::layout/layout.html.twig"%}
 
{% block body %}
<section class="col-sm-9" id="corps">
    {% for flagMessage in app.session.flashbag.get('sucess') %}
    <div class="alert alert-success">{{ flagMessage }}</div>
    {% endfor %}
    <table class="table table-bordered table-striped  table-condensed">
        <caption>
            <h4>Listes des évenements </h4>
        </caption>
        <thead>
            <tr>
                <th>Titres</th>
                <th>description</th>
                <th>periode</th>
                <th>MOD</th>
                <th>SUPP</th>
            </tr>
        </thead>
        <tbody>
                    {% for i in event %}
                <tr>
                    <td>{{ i.titre }}</td>
                    <td > {{ i.contenu|truncate(20, true, '...')}}</td>
                    <td>{{ i.mois }} - 2016</td>
                    <td><a href="{{ path('modifier',{'id':i.id}) }}">mod</a></td>
                    <td><a href="{{ path('supprimer',{'id':i.id}) }}">suppr</a></td>

                </tr>
                    {% endfor %}
              
            </tbody>
        </table>
        <div class="form-group">
                
                <div class="col-md-12">
                    <a href="{{ path('new_event')}}">
                    <button id="button1id" name="button1id"  class="btn btn-success">Créer un nouveau évenement</button>
                    </a>
                </div>
        </div>

    <div id="page_navigation"> </div>

</section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>

    <script>

        var show_per_page = 3;
        var current_page = 0;

        function set_display(first, last)
        {

            $('#content').children().css('display', 'none');
            $('#content').children().slice(first, last).css('display', 'block');

        }


        function previous(){

            if($('.active').prev('.page_link').length) go_to_page(current_page - 1);

        }


        function next(){

            if($('.active').next('.page_link').length) go_to_page(current_page + 1);

        }


        function go_to_page(page_num){

            current_page = page_num;
            start_from = current_page * show_per_page;
            end_on = start_from + show_per_page;
            set_display(start_from, end_on);
            $('.active').removeClass('active');
            $('#id' + page_num).addClass('active');

        }


        $(document).ready(function() {


            var number_of_pages = Math.ceil($('#content').children().size() / show_per_page);
            var nav = '<ul class="pagination"><li><a href="javascript:previous();">&laquo;</a>';

            var i = -1;
            while(number_of_pages > ++i){

                nav += '<li class="page_link'
                if(!i) nav += ' active';
                nav += '" id="id' + i +'">';
                nav += '<a href="javascript:go_to_page(' + i +')">'+ (i + 1) +'</a>';

            }

            nav += '<li><a href="javascript:next();">&raquo;</a></ul>';
            $('#page_navigation').html(nav);
            set_display(0, show_per_page);

        });


    </script>
{% endblock %}

