{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/colorbox.css') }}"/>

{% endblock %}
{% block style %}
	<style>
		#corps {
			padding-top: 15px;
		}
	</style>
{% endblock %}
{% block body %}
	<section class="col-9" id="corps">
		<div class="row">
			<div class="col-12" style="margin-top: 12px;">
				<img src="{{ '/build/images/evenements/' ~ asset(actu.imageAffiche) }}" alt="Actualité" width="500" height="300">
				<h4 style="margin-top:40px;">
					<b>{{ actu.titre }}</b>
				</h4>
			</div>
		</div>

		<div class="row">
			<p align="left" style="padding: 7px;" class="col-10">
				{{ actu.contenu|raw }}</p>
		</div>
		<h3 style="text-decoration: underline">Quelques photos de l'évenement</h3>
		<div class="row">
			{% if actu.albums|length!=0 %}
				{% for image in actu.albums %}
					<p class="col-3">
						<a class="group3" href="{{'/build/images/evenements/' ~ asset(image.imageAlbum)}}" title="ACI">
						<img src="{{ '/build/images/evenements/' ~ asset(image.imageAlbum) }}" width="170" height="120"/></a>
					</p>
				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endblock %}